*{
    margin: 0;
    padding: 0;
}
.navbar{
    position: relative;
    left: 10%;
    display: flex;
    align-items: center;
    /* border: 2px black solid; */
    width: 28%;
    height: 63px;
}
.navbar div{
    /* border: 2px red solid; */
    margin: auto;
}
.navbar button{
    border: none;
    background-color: transparent;
    font-size: medium;
    color: white;
}
.navbar button:hover{
    color: rgb(4, 250, 119);
}
.navbar button:active{
    transform: scale(0.97);
}
.icon{
    position:absolute;
    background-image: url(images1.png);
    /* border: 2px rgb(247, 7, 47) solid; */
    width: 62px;
    height: 62px;
    background-size: cover;
}
.top{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    position: fixed;
    width: 100%;
    /* border: 2px teal solid; */
    z-index: 1;
    top: 0;
    left: 0;
}
.intro img{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-size: 100% 100%;
}
.intro{
    background-image: url(top-view-food-frame-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 324px;
    width: 100%;
}
.intro::before{
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.4);
}
.intro div{
    /* border: 2px gold solid; */
    position: relative;
    margin: auto;
    text-align: center;
    width: 50%;
    align-self: center;
}
.intro div h1{
    /* margin-top: 80px; */
    color: #ffd46b;
}
.intro p{
    display: block;
    margin: auto;
    color: aqua;
}
.intro div button:hover{
    background-color: white;
    color: red;
}
.intro div button:active{
    transform: scale(0.98);
    /* box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24); */
}
.intro div button{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background-color: red;
    color: aliceblue;
    border: none;
    border-radius: 28px;
    display: inline-block;
    padding: 10px;
}
.mid1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    /* border: 2px solid brown; */
    align-items: center;
}
.mid1 h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.mid1-1{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    /* border: red solid 2px; */
}
.mid1-1 div{
    border: 2px rgb(255, 123, 0) solid;
    width: 270px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    background-color: #e5f8f2;
}
.mid1-1 img{
    margin-top: 15px;
    width: 65px;
    height: 65px;
}
.mid1-1 p{
    margin-top: 25px;
}
.mid1-1 h4{
    margin-top: 20px;
}
.mid2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 145px;
    /* border: 2px solid red; */
    background-image: url(pexels-lukas-349610.jpg);
    align-items: center;
}
.mid2-1{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 2px solid black; */
}
.mid2-1 div{
    margin: auto;
}
.faang img{
    width: 100%;
    height: 40px;
}
.gold img{
    width: 100%;
    height: 50px;
}
.adani img{
    width: 100%;
    height: 55px;
}
.mid2 h3{
    margin-left: auto;
    margin-right: auto;
}
.mid3{
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 2px solid orange; */
    width: 100%;
    height: 257px;
    background-image: url(digital-world-map-linked-by-lines-connections-vector-14854862.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0% 40%;
}
.mid3::before{
    position: absolute;
    content: "";
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(40, 149, 185, 0.5);
}
.formcont{
    /* border: 2px solid black; */
    position: relative;
    margin: auto;
    background-color: rgb(255 174 160 / 50%);
    border: 2px solid red;
    border-radius: 20px;
    width: 36%;
    height: 180px;
}
.mid3 h3{
    color: #f3ff00;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.formcont div{
    margin-top: auto;
    margin-bottom: auto;
    /* border: 2px solid black; */
    margin-left: 2%;
}
.formcont div h5{
    /* border: 2px solid black; */
    margin-top: auto;
    margin-bottom: auto;
}
.formcont div input{
    /* border: 2px solid black; */
    margin-top: auto;
    width: 96%;
    margin-bottom: auto;
}
.formcont button{
    margin-top: 15px;
    width: 94%;
    margin-left: 2%;
    background-color: #00ff7c;
    border: none;
    border-radius: 10px;
}
.formcont button:hover{
    background-color: #03f738;
}
.formcont button:active{
    transform: scale(0.98);
}
@media (max-width:514px) {
    .intro{
        height: 340px;
        /* border: 2px black solid; */
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .navbar{
        width: 87%;
        height: 40px;
    }
    .navbar button{
        font-size: small;
    }
    .intro div{
        width: 100%;
    }
    .mid1{
        height: auto;
    }
    .mid1-1{
        flex-direction: column;
    }
    .mid1-1 div{
        margin-bottom: 10px;
    }
    .formcont{
        width: 70%;
    }
    .mid3 h3{
        color: #f3ff00;
    }
}
@media (min-width:768px) and (max-width: 1000px) {
    .navbar{
        width: 40%;
    }
    .mid1-1 div{
        width: 225px;
    }
}